{% extends 'base.html' %}

{% block content %}
<div class="container" style="padding-top: 30px;">
    <p>As a developer you can get data through an API of your own games.</p>
    <p>Instructions:</p>
    <p>1. Use Json Web Token. Create one by sending a post request to https://game-x-changers.herokuapp.com/myapi/api/token/ with a header with your username and password. For example "http post https://game-x-changers.herokuapp.com/myapi/api/token/ username=vitor password=123"</p>
    <p>2. Refreshing the token will happen in https://game-x-changers.herokuapp.com/myapi/api/token/refresh/. Read more: https://simpleisbetterthancomplex.com/tutorial/2018/12/19/how-to-use-jwt-authentication-with-django-rest-framework.html</p>
    <p>3. The data is in JSON format. It contains every player's information concerning your game. Their highscores, progresses and timestamps. Of course player names are not given:)</p>
</div>
{% endblock %}
