{% extends 'base.html' %}

{% block content %}
<div class="hero-unit" id="content">
    <div class="gameView">
        <div class="page-header">
            <h2>{{ game.name }}</h2>
        </div>
        <p>{{ game.description }}</p>
        <iframe id="myFrame" src={{ game.url }}>
        </iframe>
        <div class="media-body" style="padding-top: 20px;">
            <div class="media-body"
                style="padding-left: 10px; padding-top: 15px; background-color: lightgray; border-radius: 10px;">
                <h3 class="mt-0">Highscores</h3>
                {% if owned_game_objects %}
                {% for owned_game in owned_game_objects %}
                <span class="card-body">
                    <h6>{{ owned_game.player.username }}
                        <span class="badge badge-secondary">{{ owned_game.highscore }}
                        </span></h6>
                </span>
                {% endfor %}
                {% else %}
                <p>No scores yet</p>
                {% endif %}
            </div>
        </div>
        <div style="margin-top: 30px;">
            <a href="{% url 'gameLibrary:preview' game.id %}" class="btn btn-primary">Share</a>
        </div>
    </div>
</div>


<script>
    var myFrame = document.getElementById('myFrame').contentWindow;
    window.onmessage = function (event) {
        var message = event.data;
        if (message.messageType == "SETTING") {

            var width = message.options.width.toString().concat("px");
            var height = message.options.height.toString().concat("px");
            $("#myFrame")[0].style.width = width;
            $("#myFrame")[0].style.height = height;

            // screen is not responsive when the iframe is wider than the screen
            if ($(window).width() < message.options.width + 50) {
                var contentSize = (message.options.width + 70).toString().concat("px")
                $(".content")[0].style.width = contentSize;

            }

        } else if (message.messageType == "SCORE") {
            console.log(message.score);

            $.ajax({
                type: 'POST',
                url: '/playGame/{{ game.id }}',
                data: {
                    'csrfmiddlewaretoken': "{{  csrf_token  }}",
                    score: message.score
                },
                success: function () {
                    // refresh the page when a new highscore is submitted
                    location.reload()
                }
            });

        } else if (message.messageType == "SAVE") {
            $.ajax({
                type: 'POST',
                url: '/playGame/{{ game.id }}',
                data: {
                    'csrfmiddlewaretoken': "{{  csrf_token  }}",
                    state: JSON.stringify(message.gameState)
                },
                success: function () { }
            });

        } else if (message.messageType == "LOAD_REQUEST") {


            $.ajax({
                type: 'POST',
                url: '/playGame/{{ game.id }}',
                data: {
                    'csrfmiddlewaretoken': "{{  csrf_token  }}",
                    getProgress: ""
                },
                success: function (result) {
                    var res = JSON.parse(JSON.parse(result));
                    var loadMessage = {
                        "messageType": "LOAD",
                        "gameState": res
                    };
                    myFrame.postMessage(loadMessage, "*");
                }
            })
        };

    };

</script>

{% endblock %}