{% extends 'base.html' %}
{% load social_share %}

{% block content %}

<div class="hero-unit">
    <h3>Preview for {{ game.name }}</h3>
    <h6 style="margin-bottom: 15px;">{{ game.description }}</h6>
    {% if user.is_authenticated %}

    {% post_to_facebook object_or_url "Post to Facebook!" %}

    {% else %}

    <h5 style="margin-top: 15px; margin-bottom: 10px;">Login to continue</h5>
    <a href="/authentication/login/" role="button" class="btn btn-primary">Log In</a>
    {% endif %}

    <div class="media-body"
        style="padding-left: 10px; margin-top: 20px; padding-top: 10px; background-color: lightgray; border-radius: 10px;">
        <h3 class="mt-0">Highscores</h3>
        {% if ownedGames %}
        {% for owned_game in ownedGames %}
        <span class="card-body">
            <h6>{{ owned_game.player.username }}
                <span class="badge badge-secondary">{{ owned_game.highscore }}
                </span></h6>
        </span>
        {% endfor %}
        {% else %}
        <p>No scores yet</p>
        {% endif %}
    </div>
</div>


{% endblock %}