{% extends 'base.html' %}

{% block content %}
<div>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <p>
            {{form.username.label_tag}}
            {{form.username}}
        </p>
        <p>
            {{form.password.label_tag}}
            {{form.password}}
        </p>


        {% if form.non_field_errors %}
        <ul class='form-errors'>
            {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <p>
            <input class="btn btn-outline-info" type="submit" value="Login">
        </p>
    </form>
    <div style="margin: 20px;">
        <h4>Or</h4>
        <a href="{% url 'social:begin' 'facebook' %}?group={{ 'None' }}" style="color: mediumblue;">Authenticate with
            Facebook</a>
    </div>
    <div class="border-top pt-3">
        <small class="input-muted">
            Don't Have an Account? <a href="../register" class="ml-2">Sign Up</a>
        </small>
    </div>
</div>
{% endblock %}